In [12]:
import pandas as pd
weather_data = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rainy', 'Sunny','Snow', 'Snow', 'Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6  Rainy
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [6]:
rows, columns = df.shape

In [16]:
columns
rows

2

In [17]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6  Rainy
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [20]:
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6  Rainy
1  1/2/2017           35          7  Sunny

In [21]:
df.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [23]:
# to print rows 2 to 5

df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [25]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [27]:
df.rows

AttributeError: 'DataFrame' object has no attribute 'rows'

In [29]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [31]:
df.event

0    Rainy
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [33]:
df['event']

0    Rainy
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [35]:
df['day']

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [36]:
type(df['event'])

pandas.core.series.Series

In [37]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6  Rainy
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [38]:
df[['event','day','temperature']]

   event       day  temperature
0  Rainy  1/1/2017           32
1  Sunny  1/2/2017           35
2   Snow  1/3/2017           28
3   Snow  1/4/2017           24
4   Rain  1/5/2017           32
5  Sunny  1/6/2017           31

In [43]:
df['event']

0    Rainy
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [47]:
df['temperature'].max()

35

In [48]:
df['temperature'].min()

24

In [49]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [50]:
df[df.temperature >=32]

        day  temperature  windspeed  event
0  1/1/2017           32          6  Rainy
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [52]:
df[df.temperature==df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [53]:
df[df.temperature == df['temperature'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [55]:
df[['day','temperature']][df.temperature == df['temperature'].max()]

        day  temperature
1  1/2/2017           35

In [56]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6  Rainy
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [62]:
df.index

Index(['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'], dtype='object', name='day')

In [63]:
df.loc['1/2/2017']

temperature       35
windspeed          7
event          Sunny
Name: 1/2/2017, dtype: object

In [64]:
df

          temperature  windspeed  event
day
1/1/2017           32          6  Rainy
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [65]:
df.set_index('temperature' , inplace = True)

In [66]:
df

             windspeed  event
temperature
32                   6  Rainy
35                   7  Sunny
28                   2   Snow
24                   7   Snow
32                   4   Rain
31                   2  Sunny

In [67]:
df.reset_index(inplace=True)

In [68]:
df

   temperature  windspeed  event
0           32          6  Rainy
1           35          7  Sunny
2           28          2   Snow
3           24          7   Snow
4           32          4   Rain
5           31          2  Sunny

In [78]:
import pandas as pd

df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [82]:
import pandas as pd

df = pd.read_excel('weather_data.xlsx')
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [83]:
weather_data = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rainy', 'Sunny','Snow', 'Snow', 'Rain', 'Sunny']
}

df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6  Rainy
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [87]:
weather_data = [
    ('1/1/2017',32,6,'Rainy'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2, 'Snow')
]

df = pd.DataFrame(weather_data, columns=['day','temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6  Rainy
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow