In [1]:
import pandas as pd

#creating a 2016 time-period
# 'A-DEC: means the period is Annual and Ends in December'

y = pd.Period('2016')
y

Period('2016', 'A-DEC')

In [2]:
#what can I find out about a 'time-period'

dir(y)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_delta',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_typ',
 'asfreq',
 'day',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [3]:
#how to find the start time of a time-period

y.start_time

Timestamp('2016-01-01 00:00:00')

In [4]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [5]:
#creating a monthly time-period

m = pd.Period('2011-1', freq='M')
m

Period('2011-01', 'M')

In [6]:
m.start_time

Timestamp('2011-01-01 00:00:00')

In [7]:
m.end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [8]:
#Arithmetic operations on time-periods

m + 1

Period('2011-02', 'M')

In [12]:
#creating a daily time-period

d = pd.Period('2020-03-10', freq='D')
d

Period('2020-03-10', 'D')

In [13]:
d+1

Period('2020-03-11', 'D')

In [14]:
#hourly time-periods

h = pd.Period('2020-03-10 16:00:00', freq ='H')
h

Period('2020-03-10 16:00', 'H')

In [15]:
h.start_time

Timestamp('2020-03-10 16:00:00')

In [16]:
h.end_time

Timestamp('2020-03-10 16:59:59.999999999')

In [17]:
#adding to the hourly time period

h+1

Period('2020-03-10 17:00', 'H')

In [18]:
#adding to the hourly time period

h+pd.offsets.Hour(1)

Period('2020-03-10 17:00', 'H')

In [20]:
#creating quarterly time period

q = pd.Period('2020Q1')
q

Period('2020Q1', 'Q-DEC')

In [21]:
q+1

Period('2020Q2', 'Q-DEC')

In [26]:
#how to change the year-end time--e.g. from DEC to JAN

q = pd.Period('2020Q1', freq='Q-JAN')
q

Period('2020Q1', 'Q-JAN')

In [27]:
q.start_time

Timestamp('2019-02-01 00:00:00')

In [29]:
q.end_time

Timestamp('2019-04-30 23:59:59.999999999')

In [30]:
# number of quarters between two time periods

q2 = pd.Period('2022Q1', freq='Q-JAN')
q2

Period('2022Q1', 'Q-JAN')

In [31]:
q2-q

In [33]:
#creating a period index
#year ends in January, therefore 2011 Jan is considered 
#Q4
idx = pd.period_range('2011', '2017', freq='Q-JAN')
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [34]:
#getting start and end time of specific periods 
#within the 'idx' range

idx[0].start_time

Timestamp('2010-11-01 00:00:00')

In [35]:
#end time of a specific period within the 'idx' range

idx[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [36]:
#When defining a period-range, one could pass the number of period instead of the range-enddate

idx = pd.period_range('2011', periods=10, freq='Q-JAN')
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [37]:
#
import numpy as np

In [41]:
import pandas as pd

df = pd.read_excel('wmt_rev.xlsx', index_col='Line Item')
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [43]:
#transposing the dataframe

df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [44]:
df.index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [45]:
#how to change the index type from 'object' to 'period'

df.index = pd.PeriodIndex(df.index, freq='Q-JAN')
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [46]:
#creating a new column = 'start date'
#map(): this function takes the start date of each index period and assigns it to Period Index

df['start date'] = df.index.map(lambda x: x.start_time)
df

Line Item  Revenue  Expenses  Profit start date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [50]:
#creating enddate column

df['end date'] = df.index.map(lambda x: x.end_time)
df

Line Item  Revenue  Expenses  Profit start date                      end date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999